ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
nltk
tensorflow==2.15.0
tensorboard
scikeras
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
openai
langchain-groq
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain_core
langserve
sse_starlette
langchain-chroma
PyPDF2
cassio
tiktoken
datasets
langchain
gradio
boto3
awscli
langchain_nvidia_ai_endpoints
crewai
crewai_tools
langchain-huggingface

neo4j==5.14
langchain_community
langchain_openai
langchain_groq
langchain_experimental
langchain_neo4j
langgraph
langsmith
langchainhub